

:root {
    --primary-color:#0EC6D5;
}

*{
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    user-select: none;
    background: #ddd;
    font-family: 'Poppins', sans-serif;
}


/* Top Header Container Styles */
.top-header {
    background: #fff;
    padding: 12px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.top-header > .container {
    overflow: hidden;
}

/* Full Navbar Styles */ 

.full-navbar {
    padding: 0;
}


/* List Items Style */

.main-navbar .logo img {
    height: 44px;
}
.main-navbar .nav-item {
    margin-right: 20px;
}
.main-navbar .nav-item .nav-link{
    font-size: 18px;
    transition: .3s color;
    position: relative;
    overflow: hidden
}
.main-navbar .nav-item .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: .25s all ease-in-out;
    transform: translateX(-100%);
}

.main-navbar .nav-item.active  .nav-link::after ,
.main-navbar .nav-item:hover .nav-link::after  {
    transform: translateX(0%);
}

/* Login Sign-up Styles */
.account-options {
    display: flex;
    align-items: center;
    justify-content: center;
}


.account-options .acc-btn  {
    display: inline-block;
    /* background:  var(--primary-color); */
    font-size: 14px;
    color: #333;
    /*padding: 8px 20px;*/
    padding: 10px 15px;
    border-radius: 30px;
    position: relative;
    margin-left: 6px;
    letter-spacing: 1px;
    transition: .2s all ease-in-out;
}
.account-options .acc-btn.login-btn i {
    margin-right: 5px;
}
.account-options .acc-btn:hover {
    color:  var(--primary-color);
}

.account-options .acc-btn.listing-btn {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 10px;
}
.account-options .acc-btn.listing-btn i {
    margin-left: 2px;
}
a:hover{
    text-decoration: none;
}

/* Slide Right NavBar*/

.right-nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    width: 100%;
    z-index: 200;
    transform: translateX(100%);
    transition: .5s all;
}
.right-nav .logo {
    height: 55px;
}

.right-nav.show {
    transform: translateX(0%);
}
.right-nav .nav-header {
    padding: 15px 20px;
    /* text-align: right; */
}

.right-nav .nav-menu {
    padding: 15px 20px;
    /* text-align: right; */
    
}
.right-nav .nav-menu li{
    border-bottom: 1px solid #00000021;
}
.right-nav .nav-menu li a{
    color: rgba(0, 0, 0, 0.76);
}

/* hamburger btn */ 

.right-nav .show-btn{
    position: absolute;
    top: 20px;
    right: 20px;
}



.hamb-btn {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamb-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000a6;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamb-btn span:nth-child(1) {
    top: 0px;
}

.hamb-btn span:nth-child(2) {
    top: 8px;
}

.hamb-btn span:nth-child(3) {
    top: 16px;
}


.hamb-btn.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamb-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamb-btn.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Override botstrap navabr toggler */
.navbar-toggler{
    border: none!important;
    outline: none!important;
}

  
/* Full Home Slider */
.main-slider .carousel-inner .carousel-item {
    height: 600px;
}
@media screen and (max-width:980px) {
    .main-slider .carousel-inner .carousel-item {
        /* min-height: 600px; */
        height: auto;
    }
}
.main-slider .carousel-item {
    position: relative;
}
.main-slider .carousel-item .banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

.main-slider .carousel-item .banner-content {
    position: absolute;
    background: #000000c7;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.main-slider .carousel-item .banner-content .row {
    height: 100%;
    align-items: center;
}
.main-slider .carousel-item .listing-data {
    min-height: 200px;
    color: #fff;
}
.main-slider .carousel-item .listing-type {
    font-size: 28px;
    letter-spacing: 2px;
}

.main-slider .carousel-item .listing-place h3 {
    margin: 14 0;
    font-size: 44px;
    max-width: 80%;
}
.main-slider .carousel-item .listing-addresse {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0;
}
.main-slider .carousel-item .listing-price {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 400;
}
.main-slider .carousel-item .listing-price span {
    font-weight: 500;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.main-slider .carousel-item .inner_carousel {
    height: 420px;
}
.main-slider .carousel-item .inner_carousel img {
    height: 100%;
}
.main-slider .carousel-item .inner_carousel .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00000054;
    height: 25px;

}